*.class

# Package Files #
*.war
*.ear
/target/
/rolo_the_robot-main/target/
/rolo-the_robot-main/target/
/rolo-the-robot-main/target/
/rolo-the-robot-client/target/
/rolo-the-robot-api/target/
/rolo-the-robot-core/target/
/hardware-test/target/
/rolo_the_robot-hardware-test/target/
/rolo-the-robot-hardware-test/target/
/rolo-the-robot-hardware-test-ui/target/
/rolo-the-robot-client-ui/target/